.App {
  text-align: center;
}
.millis {
  position: fixed;
  left: 0;
  top: 0;
}
h2 { display: none }
/* video { opacity: 50%;} */
#processed {
  background-image: url("data:image/gif;base64,R0lGODlhDgAOAPAAAG1tbdvb2yH5BAAAAAAAIf8LSW1hZ2VNYWdpY2sOZ2FtbWE9MC40NTQ1NDUALAAAAAAOAA4AAAIahA+hG3i8nIFKJmppkzprzIFOF0KeWTKnKhUAOw==");
  display: inline-block;
}
